* {
    margin: 0px;
    padding: 0px;
}
body {
<<<<<<< HEAD
    background-color: rgb(30, 59, 246);
=======
    background-color: rgb(191, 195, 216);
>>>>>>> development
}
header {
    text-align: center;
    margin: 1rem;
}
.container {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .col {
<<<<<<< HEAD
    border: 2px solid rgb(242, 174, 174);
=======
    border: 2px solid rgb(175, 140, 140);
>>>>>>> development
    display: flex;
    flex-direction: column;
    flex: 1rem;
    padding: 1rem;
    margin: .5rem;
    /* justify-content: space-evenly; */
    align-items: center;
}
.container .col h2 {
    margin-bottom: 1rem;
}
.container .col .item {
    margin:.5rem;
}
.container .col .item input, .container .col .item textarea {
    display: block;
    margin: .1rem 0rem;
    padding: .5rem;
    width: 25rem;
}

.btn {
    margin: .2rem;
    padding: .2rem .5rem;
    border-radius: 20px;
    background-color: rgb(230, 230, 241);
    cursor: pointer;
}

.gen-btn, .res-btn {
    text-align: center;
    margin: .5rem;
}
.gen-resume input, .res-btn input{
    font-size: 1rem;
    padding: .5rem;
}
